.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a202c;
  color: #ffffff;
  padding: 2rem;
  box-shadow: 0 4px 6px 0 rgba(0, 255, 0, 0.2);
}

.aboutTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.aboutContent {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
}